.Box {
  margin: 0.1rem;
  height: 0.4rem;
}

.Html {
  background: rgb(212, 138, 0);
}

.Css {
  background: purple;
}

.Ad {
  background: red;
}

.Img {
  background: green;
}

.Bundle {
  background: blue;
}

.Default {
  background: lightgrey;
}